{% extends 'frame.html' %}

<!---------------------------navbar-------------------------------->
<nav class="navbar navbar-default" style="background-color:lightsteelblue;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Cloud Diaries</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/home">Home</a></li>
      <li><a href="/profile">Profile</a><li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<!---------------------------navbar--------------------------------->
<div id="pictures">
  <center>
    {% for pic in {{pics}} %}
    {{pic}}
    {% endblock %}
  </center>
</div>

<div id="posts">
  <center>
    {% for post in {{posts}} %}
    <p>{{post}}</p>
    <br>
    {% endblock %}
  </center>
</div>

<form action="/input">
  <button type="button" class="btn btn-secondary btn-lg btn-block">Add More</button>
</form>
