{% extends 'frame.html' %}

{% block content %}
<!---------------------------navbar-------------------------------->
<nav class="navbar navbar-default" style="background-color:lightsteelblue;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Cloud Diaries</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/home">Home</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<!---------------------------navbar--------------------------------->

<form action="/entry">
  <div class="form-group">
    <label for="FormControlFile1">Insert Pictures:</label>
    <input type="file" class="form-control-file" id="pic">
  </div>
  <div class="form-group">
    <label for="FormControlTextarea1">Insert Text:</label>
    <textarea class="form-control" id="text" rows="3"></textarea>
  </div>
  <input type="submit" value="Submit">
</form>

{% endblock %}
