#login{
    border: 2px solid slategrey;
    background-color: whitesmoke;
    width: 700px;
    height: 300px;
}

body{
    background-color: white;
}

#input{
    border: 1px solid lightsteelblue;
    text-align: center;
    width: 500px;
    height: 300px;
}

#entry{
    background: "dairy.GIF";
}

#posts{
    border: 1px solid lightsteelblue;
    border-radius: 5px;
    width: 800px;
    heigh: 200px:
    font-family: applechancery
}

#pictures{
    border: 1px solid lightsteelblue;
    border-radius: 5px;
    width: 1000px;
    
}

img{
    width: 300px;
    height: 300px;
}
