{% extends 'frame.html' %}

{% block content %}
<center>
  <div class="container">
    <form method="POST" action="/create">
      <label>Username:</label>
      <input type="text" class="form-control" name="username" required>
      <label>Password:</label>
      <input type="password" class="form-control" name="password" required>
      <label>Verify Password:</label>
      <input type="password" class="form-control"  name="password_verify" required>
      <br>
      <input type="submit" value="Sign Up">
    </form>
  </div>
</center>

{% endblock %}
