{% extends 'frame.html' %}
{% block content %}
<!---------------------------navbar-------------------------------->
<nav class="navbar navbar-default" style="background-color:lightsteelblue;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Cloud Diaries</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/home">Home</a></li>
      <li><a href="/profile">Profile</a><li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<!---------------------------navbar--------------------------------->

<div id="container">
  <div id="pictures">
    <center>
      {% for pic in pics %}
      <img src= {{pic}}>
      {% endfor %}
    </center>
  </div>

  <div id="posts">
    <center>
      {% for post in posts %}
      <p>{{post[0]}}</p>
      <br>
      {% endfor %}
    </center>
  </div>

  <form action="/input" method="post">
    <input type="text" name="date" value={{date}} readonly>
    <input type="submit" value="Add More">
  </form>
</div>

{% endblock %}
