{% extends 'frame.html' %}

{% block content %}
<!---------------------------navbar-------------------------------->
<nav class="navbar navbar-default" style="background-color:lightsteelblue;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Cloud Diaries</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/home">Home</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<!---------------------------navbar--------------------------------->

  <div class="form-group">
    <form method="POST" action="/upload" enctype="multipart/form-data">
      <label for="file-upload" class="custon-file-upload button">
	Choose File
      </label>
      <input id="file-upload" type="file" name="image" accept="image/*" required>
      <input class="button" type="submit" value="Upload Image">
    </form>
  </div>

<form action="/input_backend" method="post">
  <div class="form-group">
    Insert text: <br>
    <input type="text" class="form-control" name="textpost"></div>
  <input type="submit" value="Submit">
</form>

{% endblock %}
