{% extends 'frame.html' %}

{% block content %}
<!---------------------------navbar-------------------------------->
<nav class="navbar navbar-default" style="background-color:lightsteelblue;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Cloud Diaries</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/home">Home</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<!---------------------------navbar--------------------------------->

<form action="/upload" method="post">
  <div class="form-group">
    <label for="FormControlFile1">Insert Pictures:</label>
    <input type="file" class="form-control-file" name="pic">
  </div>
  <input type="submit" value="Submit">
</form>
<form action="/input_backend" method="post">
  <div class="form-group">
    Insert text: <br>
    <input type="text" class="form-control" name="textpost"></div>
  <input type="submit" value="Submit">
</form>

{% endblock %}
