{% extends 'frame.html' %}

{% block content %}

<!---------------------------navbar-------------------------------->
<nav class="navbar navbar-default" style="background-color:lightsteelblue;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Cloud Diaries</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/home">Home</a></li>
      <li><a href="/profile">Profile</a><li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<!---------------------------navbar--------------------------------->

<center><h1>{{name}}</h1></center>

<!----------------------------d3 html------------------------------->
<svg height="400" width="700" id="svg" xlmns="http://www.w3.org/2000/svg">
</svg>
<!----------------------------d3 html------------------------------->
<script src = "https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src ="/static/profile.js"></script>


{% endblock %}
